In [1]:
# Import pandas
import pandas as pd
import numpy as np

# Import datasets
data = pd.read_csv('Datathon weather data.csv')

In [2]:
name_dict = {
    'León España': 'León',
    'Granada España': 'Granada',
    'Soria España': 'Soria',
    'Segovia España': 'Segovia',
    'Burgos España': 'Burgos',
    'Zamora España': 'Zamora',
    'Córdoba España': 'Córdoba',
    'Sevilla España': 'Sevilla',
    'Girona España': 'Girona',
    'Huesca España]': 'Huesca',
    'Pontevedra España': 'Pontevedra',
    'Jaén España': 'Jaén',
    'Orense España': 'Orense',
    'Valladolid España': 'Valladolid',
    'Cuenca España': 'Cuenca',
    'Tarragona España': 'Tarragona',
    'Zaragoza España': 'Zaragoza',
    'Lugo España': 'Lugo',
    'Barcelona España': 'Barcelona',
    'Toledo España': 'Toledo',
    'Valencia España': 'Valencia',
    'Ávila España': 'Avila',
    'LLeida España': 'Lleida',
    'La Rioja España': 'La Rioja',
    'Teruel España': 'Teruel',
    'Salamanca España': 'Salamanca',
    'Málaga España': 'Málaga',
    'Albacete España': 'Albacete',
    'Alicante España': 'Alicante',
    'Almería España': 'Almeria',
    'Madrid España': 'Madrid',
    'Cádiz España': 'Cádiz',
    'Castellón España': 'Castellón',
    'La Coruña España': 'La Coruña',
    'Huelva España': 'Huelva',
    'Ciudad Real España': 'Ciudad Real',
    'Palencia España': 'Palencia',
    'Guadalajara España': 'Guadalajara'
}

In [3]:
data = data.replace({"name": name_dict})

In [4]:
name_list = data['name'].unique()

for name in name_list:
    print(name)

León
Granada
Soria
Segovia
Burgos
Zamora
Córdoba
Sevilla
Girona
Huesca
Pontevedra
Jaén
Orense
Valladolid
Cuenca
Tarragona
Zaragoza
Lugo
Barcelona
Toledo
Valencia
Avila
Lleida
La Rioja
Teruel
Salamanca
Málaga
Albacete
Alicante
Almeria
Madrid
Cádiz
Castellón
La Coruña
Huelva
Ciudad Real
Palencia
Guadalajara

In [5]:
data

,name,datetime,tempmax,tempmin,temp,humidity,solarradiation,uvindex
0,León,2010-01-01,4.0,0.0,1.8,93.7,69.6,4
1,León,2010-01-02,4.0,0.5,1.9,98.1,20.2,1
2,León,2010-01-03,6.0,2.0,4.4,98.9,14.0,1
3,León,2010-01-04,6.4,0.0,4.2,95.3,21.4,1
4,León,2010-01-05,5.0,0.0,2.7,80.7,65.7,3
...,...,...,...,...,...,...,...,...
180419,Guadalajara,2022-12-27,15.6,3.2,7.9,83.1,83.0,5
180420,Guadalajara,2022-12-28,13.6,2.6,7.5,83.4,76.7,5
180421,Guadalajara,2022-12-29,11.3,8.1,9.8,85.3,18.4,1
180422,Guadalajara,2022-12-30,12.8,9.1,11.1,72.8,37.3,2
180423,Guadalajara,2022-12-31,15.3,3.3,8.8,69.4,89.5,5

In [6]:
data = data.rename(columns={'name': 'Province'})
data

,Province,datetime,tempmax,tempmin,temp,humidity,solarradiation,uvindex
0,León,2010-01-01,4.0,0.0,1.8,93.7,69.6,4
1,León,2010-01-02,4.0,0.5,1.9,98.1,20.2,1
2,León,2010-01-03,6.0,2.0,4.4,98.9,14.0,1
3,León,2010-01-04,6.4,0.0,4.2,95.3,21.4,1
4,León,2010-01-05,5.0,0.0,2.7,80.7,65.7,3
...,...,...,...,...,...,...,...,...
180419,Guadalajara,2022-12-27,15.6,3.2,7.9,83.1,83.0,5
180420,Guadalajara,2022-12-28,13.6,2.6,7.5,83.4,76.7,5
180421,Guadalajara,2022-12-29,11.3,8.1,9.8,85.3,18.4,1
180422,Guadalajara,2022-12-30,12.8,9.1,11.1,72.8,37.3,2
180423,Guadalajara,2022-12-31,15.3,3.3,8.8,69.4,89.5,5

In [7]:
# set to datetime values
data['datetime'] = pd.to_datetime(data['datetime'])

In [8]:
data['year'] = data['datetime'].dt.year
data

,Province,datetime,tempmax,tempmin,temp,humidity,solarradiation,uvindex,year
0,León,2010-01-01,4.0,0.0,1.8,93.7,69.6,4,2010
1,León,2010-01-02,4.0,0.5,1.9,98.1,20.2,1,2010
2,León,2010-01-03,6.0,2.0,4.4,98.9,14.0,1,2010
3,León,2010-01-04,6.4,0.0,4.2,95.3,21.4,1,2010
4,León,2010-01-05,5.0,0.0,2.7,80.7,65.7,3,2010
...,...,...,...,...,...,...,...,...,...
180419,Guadalajara,2022-12-27,15.6,3.2,7.9,83.1,83.0,5,2022
180420,Guadalajara,2022-12-28,13.6,2.6,7.5,83.4,76.7,5,2022
180421,Guadalajara,2022-12-29,11.3,8.1,9.8,85.3,18.4,1,2022
180422,Guadalajara,2022-12-30,12.8,9.1,11.1,72.8,37.3,2,2022
180423,Guadalajara,2022-12-31,15.3,3.3,8.8,69.4,89.5,5,2022

In [9]:
data['max_temp_year'] = data.groupby(['Province', 'year'])['tempmax'].transform(max)
data['min_temp_year'] = data.groupby(['Province', 'year'])['tempmin'].transform(min)
data['avg_temp_year'] = data.groupby(['Province', 'year'])['temp'].transform(np.mean)
data['avg_humid_year'] = data.groupby(['Province', 'year'])['humidity'].transform(np.mean)
data

,Province,datetime,tempmax,tempmin,temp,humidity,solarradiation,uvindex,year,max_temp_year,min_temp_year,avg_temp_year,avg_humid_year
0,León,2010-01-01,4.0,0.0,1.8,93.7,69.6,4,2010,33.1,-12.0,10.032055,72.990685
1,León,2010-01-02,4.0,0.5,1.9,98.1,20.2,1,2010,33.1,-12.0,10.032055,72.990685
2,León,2010-01-03,6.0,2.0,4.4,98.9,14.0,1,2010,33.1,-12.0,10.032055,72.990685
3,León,2010-01-04,6.4,0.0,4.2,95.3,21.4,1,2010,33.1,-12.0,10.032055,72.990685
4,León,2010-01-05,5.0,0.0,2.7,80.7,65.7,3,2010,33.1,-12.0,10.032055,72.990685
...,...,...,...,...,...,...,...,...,...,...,...,...,...
180419,Guadalajara,2022-12-27,15.6,3.2,7.9,83.1,83.0,5,2022,40.6,-3.8,16.107123,56.836712
180420,Guadalajara,2022-12-28,13.6,2.6,7.5,83.4,76.7,5,2022,40.6,-3.8,16.107123,56.836712
180421,Guadalajara,2022-12-29,11.3,8.1,9.8,85.3,18.4,1,2022,40.6,-3.8,16.107123,56.836712
180422,Guadalajara,2022-12-30,12.8,9.1,11.1,72.8,37.3,2,2022,40.6,-3.8,16.107123,56.836712
180423,Guadalajara,2022-12-31,15.3,3.3,8.8,69.4,89.5,5,2022,40.6,-3.8,16.107123,56.836712

In [10]:
data = data.rename(columns={'year': 'InspectionYear'})

In [11]:
data.to_csv('temperature.csv', index=False)